### OS ###

# Linux #
*~

# MacOS #
.DS_Store

### IDEs ###

# IntelliJ
.idea
.idea_modules

# VSCode
.vscode

### Scala ###

# SBT
target

# Metals
.metals

# BSP
.bsp
project/project

### Java ###

*.class
*.log